<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <header class="navbar-fixed-top">
        <div class="row">
            <div id="HeaderPartialContainer">
                <nav class="navbar navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="btn-group float-right">
                            <a class="dropdown-item" href="/Home/Login" draggable="false" ondragstart="return false;">
                                <i data-icon="v"></i>Bejelentkezés
                            </a>
                        </div>
                    </div>
                </nav>
                @*@Html.Partial("_HeaderPartial")*@
            </div>
        </div>
    </header>
    <section class="content-wrapper row">
        <aside class="sidebar-wrapper col-md-4 col-lg-3 col-xl-2">
            <nav class="sidebar-nav">
                <div class="list-group">
                    <div class="menu-item" id="Altalanos_Infok">
                        <a class="list-group-item" href="/Home/Index" draggable="false" ondragstart="return false;">
                            <i data-icon="v"></i>Általános bemutatás
                        </a>
                    </div>
                    <div class="menu-item" id="Kapcsolatok_Menu">
                        <a class="list-group-item" href="/Home/Contact" draggable="false" ondragstart="return false;">
                            <i data-icon="v"></i>Kapcsolat
                        </a>
                    </div>
                    <div class="menu-item" id="Csapat_Menu">
                        <a class="list-group-item" data-toggle="collapse" href="#Csapat" draggable="false" ondragstart="return false;">
                            <i data-icon="γ"></i>Csapatok
                        </a>
                        <div class="collapse panel-collapse" id="Csapat">
                            <div class="level-2 menu-item" id="Noi_Index_Menu">
                                <a class="list-group-item" href="/Player/NoiIndex" draggable="false" ondragstart="return false;">
                                    <i data-icon="δ"></i>Női csapat
                                </a>
                            </div>
                            <div class="level-2 menu-item" id="Ifjusagi_Index_Menu">
                                <a class="list-group-item" href="/Player/IfjusagiIndex" draggable="false" ondragstart="return false;">
                                    <i data-icon="ε"></i>Ifjúsági csapat
                                </a>
                            </div>
                            <div class="level-2 menu-item" id="Felnott_Index_Menu">
                                <a class="list-group-item" href="/Player/FelnottIndex" draggable="false" ondragstart="return false;">
                                    <i data-icon="τ"></i>Felnőtt csapat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item" id="Users_Menu">
                        <a class="list-group-item" href="/Player/Index" draggable="false" ondragstart="return false;">
                            <i data-icon="v"></i>Felhasználók
                        </a>
                    </div>

</aside>
        
    </section>
    <section class="content-wrapper row">
        <section class="content col-md-8 offset-md-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2">
            <div class="col-md-12 col-lg-12 col-xl-12">
                @RenderBody()
            </div>
        </section>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
