<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @Html.Partial("_HeaderPartial")
        @*<div class="container">
           <div class="navbar-collapse collapse float-left">
               <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   @Html.ActionLink("Isaszegi SE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
               </div>

               <ul class="nav navbar-nav">
                   <li>@Html.ActionLink("Csapat", "Index", "Home")</li>
                   <li>@Html.ActionLink("About", "About", "Home")</li>
                   <li class="dropdown">
                       <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                           Játékosok
                           <span class="caret"></span>
                       </a>
                       <ul class="dropdown-menu" role="menu">
                           <li>@Html.ActionLink("Felnőtt", "FelnottIndex", "Player")</li>
                           <li>@Html.ActionLink("U19", "IfjusagiIndex", "Player")</li>
                           <li>@Html.ActionLink("Női", "NoiIndex", "Player")</li>
                       </ul>
                   </li>
                   <li>@Html.ActionLink("Kapcsolat", "Contact", "Home")</li>
                   <li>@Html.ActionLink("Felhasználók", "Index", "Player")</li>
                   <li id="loginMenu">@Html.ActionLink("Bejelentkezés", "Login", "Home")</li>
                   <li class="hide" id="logoutMenu">@Html.ActionLink("Kijelentkezés","Logout","Home")</li>
               </ul>
           </div>
        </div>*@
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            <br/>
            <label id="UserNameFoot"></label>
            <label id="Roles"></label>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
