<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    <div class="content">
        <span class="hidden" id="bejelentkezve" value=""></span>
        <span class="hidden" id="userName" value=""></span>
        <span class="hidden" id="userRole" value=""></span>
    </div>
</head>
<body>
    <header class="navbar-fixed-top">
        <div class="row">
            <div id="HeaderPartialContainer">
                <nav class="navbar navbar-fixed-top">
                    <div class="container-fluid">
                        <div id="LogIn" class="btn-group float-left dropdown-menu">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                                <span id="BejelntkezesMenu">
                                    <i data-icon="C"></i>
                                    Bejelentkezés vagy regisztráció
                                </span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-item" onclick="href('Home/Login')">Bejelentkezés</li>
                                <li class="dropdown-item" onclick="href('Home/Regisztracio')">Regisztráció</li>
                            </ul>
                        </div>
                        <div id="UserMenu" class="btn-group float-right dropdown-menu hidden">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                                <span id="Felhasznalonev">
                                    <i data-icon="C"></i>

                                </span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-item" onclick="href('Player/NoiIndex')">Profilom</li>
                                <li class="divider"></li>
                                <li class="dropdown-item" onclick="logOut()">Kijelentkezés</li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <section class="content-wrapper row">
        <aside class="sidebar-wrapper col-md-4 col-lg-3 col-xl-2">
            <nav class="sidebar-nav">
                <div class="list-group">
                    <div class="menu-item" id="Altalanos_Infok">
                        <a class="list-group-item" href="/Home/Index" draggable="false" ondragstart="return false;">
                            <i data-icon="v"></i>Általános bemutatás
                        </a>
                    </div>
                    <div class="menu-item" id="Kapcsolatok_Menu">
                        <a class="list-group-item" href="/Home/Contact" draggable="false" ondragstart="return false;">
                            <i data-icon="v"></i>Kapcsolat
                        </a>
                    </div>
                    <div class="menu-item" id="Csapat_Menu">
                        <a class="list-group-item" data-toggle="collapse" href="#Csapat" draggable="false" ondragstart="return false;" onclick="collapseMenuNavigate($(this))">
                            <i data-icon="γ"></i>Csapatok
                        </a>
                        <div class="collapse panel-collapse" id="Csapat">
                            <div class="level-2 menu-item" id="Noi_Index_Menu">
                                <a class="list-group-item" href="/Player/NoiIndex" draggable="false" ondragstart="return false;">
                                    <i data-icon="δ"></i>Női csapat
                                </a>
                            </div>
                            <div class="level-2 menu-item" id="Ifjusagi_Index_Menu">
                                <a class="list-group-item" href="/Player/IfjusagiIndex" draggable="false" ondragstart="return false;">
                                    <i data-icon="ε"></i>Ifjúsági csapat
                                </a>
                            </div>
                            <div class="level-2 menu-item" id="Felnott_Index_Menu">
                                <a class="list-group-item" href="/Player/FelnottIndex" draggable="false" ondragstart="return false;">
                                    <i data-icon="τ"></i>Felnőtt csapat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item" id="Users_Menu">
                        <a class="list-group-item" href="/Player/Index" draggable="false" ondragstart="return false;">
                            <i data-icon="v"></i>Felhasználók
                        </a>
                    </div>
                </div>
            </nav>
        </aside>
    </section>
    <section class="content-wrapper row">
        <section class="content col-md-8 offset-md-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2">
            <div class="col-md-12 col-lg-12 col-xl-12">
                @RenderBody()
            </div>
        </section>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/menu")
    @RenderSection("scripts", required: false)
</body>
</html>
