@model SzakdolgozatAppMvc.Models.PlayerGridModel

@section scripts{

    @Scripts.Render("~/bundles/add")
}

@{
    bool editViewAttr = false;
    if ((bool)ViewBag.ReadOnly == true)
    {
        editViewAttr = true;
    }
}
@Html.IsaHidden("EntityID", Model.Id)
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
        <h1 class="title">@ViewBag.Title</h1>
        @Html.IsaTextBox("PlayerName", "Játékos neve:", Model.Name, editViewAttr)
        @Html.Select2PosCompuond("PlayerPost", "PlayerPost","Posztja: ",Model.Poszt,editViewAttr)
        @*@Html.IsaTextBox("Poszt", "Posztja: ", Model.Poszt, editViewAttr)*@
        @Html.IsaTextBox("BornYear", "Születési év:", Model.Bornyear, editViewAttr)
        @Html.IsaTextBox("Age", "Életkor:", Model.Age, true)
        <footer class="fixed-bottom">
            <div class="row">
                <div class="text-center row ">
                    <div class="row btn-group col-md-10" id="functionButtonMenuRow">
                        <div class="col-md-1">
                            <button class="btn-primary btn hidden" type="button" id="pageLeft">
                                <i data-icon="R"></i>
                            </button>
                        </div>
                        <div class="col-md-10" id="functionButtonMenu">
                            @if (editViewAttr == false)
                            {
                                <button class="btn-primary btn functionButtonVisible" id="Mentes_Button" onclick="submitFormEdit();" type="button"><i data-icon="N"></i>Mentés</button>
                            }
                            <button class="btn-primary btn functionButtonVisible" id="Megse_Button" onclick="Cancel()" type="button"><i data-icon="w"></i>Mégse</button>


                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>