@model SzakdolgozatAppMvc.Models.UserEditModel


@{

}
@Html.IsaHidden("Id", Model.Id)
<div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
    <h1 class="title">Profilom</h1>
    @Html.IsaTextBox("UserName", "Felhasználó név:", Model.UserName)
    @Html.IsaTextBox("BornName", "Nyomtatott név:", Model.Name)
    @Html.IsaTextBox("City", "Irányítószám:", Model.City)
    @Html.IsaTextBox("Address", "Város:", Model.Address)
    <footer class="fixed-bottom">
        <div class="row">
            <div class="text-center row ">
                <div class="row btn-group col-md-10" id="functionButtonMenuRow">
                    <div class="col-md-1">
                        <button class="btn-primary btn hidden" type="button" id="pageLeft">
                            <i data-icon="R"></i>
                        </button>
                    </div>
                    <div class="col-md-10" id="functionButtonMenu">

                        <button class="btn-primary btn functionButtonVisible" id="Megse_Button" onclick="Cancel()" type="button"><i data-icon="w"></i>Mégse</button>

                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>